In [1]:
tuple1=(11,12,13,14,15,16,11,21,54,87,13)
tuple2=(78,89,45,56,12,23,30,20,10,89,12,56)
set1=set(tuple1)
set2=set(tuple2)
set3 = set1 ^ set2
print(tuple(set3))

(10, 11, 45, 78, 13, 14, 15, 16, 20, 21, 54, 23, 56, 89, 87, 30)

In [2]:
tuple1=(11,12,13,14,15,16,11,21,54,87,13)
tuple2=(78,89,45,56,12,23,30,20,10,89,12,56)
set1=set(tuple1)
set2=set(tuple2)
ste3 = set1 | set2
print(tuple(set3))

(10, 11, 45, 78, 13, 14, 15, 16, 20, 21, 54, 23, 56, 89, 87, 30)

In [4]:
s1 = {"yello","green","blue","orange","black"}
s2 ={"white","black","green"}
s3 = s1 | s2
print(s3)

{'yello', 'blue', 'black', 'white', 'orange', 'green'}

In [5]:
s1 = {"yello","green","blue","orange","black"}
s2 ={"white","black","green"}
s3 = s1 ^ s2
print(s3)

{'yello', 'blue', 'white', 'orange'}

In [6]:
s1 = {"yello","green","blue","orange","black"}
s2 ={"white","black","green"}
s3 = s1 - s2
print(s3)

{'yello', 'blue', 'orange'}

In [8]:
s1 = {"yello","green","blue","orange","black"}
s2 ={"white","black","green"}
s3 = s1 & s2
print(s3)

{'black', 'green'}

In [9]:
s1 = {"yello","green","blue","orange","black"}
s2 ={"white","black","green"}
print(s1.isdisjoint(set2))

True

In [10]:
s1 = {"yello","green","blue","orange","black"}
s2 ={"white","black","green"}
print(s1.issubset(set2))

False

In [11]:
a = ("seventy",[1,2,3],(20,30,40),"Eighty")
print(a[2][0])

20

In [15]:
t1 = (23,32,4,5,2,12,23,7,9,10,23)
print(sorted(t1))

[2, 4, 5, 7, 9, 10, 12, 23, 23, 23, 32]

In [16]:
list1 = ["kiwi","mangoes","dragonfruit","cherry","apple","banana"]
list1.insert(2,"bluberry")
print(list1)

['kiwi', 'mangoes', 'bluberry', 'dragonfruit', 'cherry', 'apple', 'banana']

In [17]:
list1.append("orange")
print(list1)

['kiwi', 'mangoes', 'bluberry', 'dragonfruit', 'cherry', 'apple', 'banana', 'orange']

In [18]:
list1.extend({"jamun","custard apple"})
print(list1)

['kiwi', 'mangoes', 'bluberry', 'dragonfruit', 'cherry', 'apple', 'banana', 'orange', 'custard apple', 'jamun']

In [20]:
list1.remove("jamun")
print(list1)

['kiwi', 'mangoes', 'bluberry', 'dragonfruit', 'cherry', 'apple', 'banana', 'orange', 'custard apple']

In [21]:
list1.pop(4)
print(list1)

['kiwi', 'mangoes', 'bluberry', 'dragonfruit', 'apple', 'banana', 'orange', 'custard apple']

In [22]:
list1.clear()
print(list1)

[]

In [23]:
del list1

In [24]:
print(list1)

NameError: name 'list1' is not defined

In [26]:
n = int(input("Enter the number of employees : "))
i = 0
sum = 0
while (i <= n):
    print("Enter the salary of employees ", i,":")
    sal=int(input("Enter the salary of emloyees : "))
    sum = sal+sum
    print(sum)
    i = i+1
print("sum of salary of all employees",sum)

Enter the number of employees : 5
Enter the salary of employees  0 :
Enter the salary of emloyees : 20000
20000
Enter the salary of employees  1 :
Enter the salary of emloyees : 50000
70000
Enter the salary of employees  2 :
Enter the salary of emloyees : 60000
130000
Enter the salary of employees  3 :
Enter the salary of emloyees : 25000
155000
Enter the salary of employees  4 :
Enter the salary of emloyees : 35000
190000
Enter the salary of employees  5 :
Enter the salary of emloyees : 19000
209000
sum of salary of all employees 209000

In [30]:
n = int(input("Enter the number of employees : "))
i = 1
sum = 0
avg = 0
while (i <= n ):
    print("Enter the salary of employees : ")
    sal = int(input("Enter salary of employees : "))
    sum = sal + sum
    print(sum)
    avg = sum // n
    print(avg)
    i = i + 1 
print("sum of salary of employees is = ",sum)
print("avg of salay of employees is = ",avg)

Enter the number of employees : 5
Enter the salary of employees :
Enter salary of employees : 15000
15000
3000
Enter the salary of employees :
Enter salary of employees : 19000
34000
6800
Enter the salary of employees :
Enter salary of employees : 22000
56000
11200
Enter the salary of employees :
Enter salary of employees : 35000
91000
18200
Enter the salary of employees :
Enter salary of employees : 30000
121000
24200
sum of salary of employees is =  121000
avg of salay of employees is =  24200

In [33]:
for r in range (1,5):
    for c in range(1,r+1):
        print("1",end=" ")
    print()

1
1 1
1 1 1
1 1 1 1

In [34]:
for r in range (1,10):
    for c in range(1,r+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [39]:
for r in range (10,0,-1):
    for c in range(1,r+1):
        print("*",end=" ")
    print()

* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [41]:
def myaccount ():
    username = "kchaudhari"
    password = "cristiano!7"
    attempts = 0
    while (attempts < 3):
        a = input("Enter the username : ")
        b = input("Enter the password : ")
        if (username==a)and (password==b):
            print("Login Successful.")
            break
        else : 
            print("Invalid password !.Please  try again .")
            attempts+=1
        if attempts==3 :
            print("you have exceed the maximum limit of attempts.Your access denied for 30 minutes")
        else :
            print()       
myaccount()

Enter the username : kchaudhari
Enter the password : jfhffnh
Invalid password !.Please  try again .

Enter the username : kchaudhari
Enter the password : jbgfkjdf
Invalid password !.Please  try again .

Enter the username : kchaudhari
Enter the password : cristiano!7
Login Successful.

In [46]:
for r in range (1,5):
    for c in range(1,r+1):
        print("1",end=" kunal  ")
    print()

    
for r in range (5,0,-1):
    for c in range(1,r+1):
        print("1",end=" kunal  ")
    print()

1 kunal
1 kunal  1 kunal
1 kunal  1 kunal  1 kunal
1 kunal  1 kunal  1 kunal  1 kunal
1 kunal  1 kunal  1 kunal  1 kunal  1 kunal
1 kunal  1 kunal  1 kunal  1 kunal
1 kunal  1 kunal  1 kunal
1 kunal  1 kunal
1 kunal

In [45]:
for r in range (1,5):
    for c in range(1,r+1):
        print(r,end=" kunal  ")
    print()
for r in range (5,0,-1):
    for c in range(1,r+1):
        print(c,end=" kunal  ")
    print()

1 kunal
2 kunal  2 kunal
3 kunal  3 kunal  3 kunal
4 kunal  4 kunal  4 kunal  4 kunal
1 kunal  2 kunal  3 kunal  4 kunal  5 kunal
1 kunal  2 kunal  3 kunal  4 kunal
1 kunal  2 kunal  3 kunal
1 kunal  2 kunal
1 kunal